<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- pybo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hello, pybo!</title>
</head>
<body>
<!-- 네비게이션바 -->
<nav class="navbar navbar-light bg-light border-bottom">

    <div class="container-fluid d-flex justify-content-between align-items-center">
        <ul class="navbar-nav d-flex flex-row align-items-center">
    <li class="nav-item mx-3">
        <a class="nav-link" href="{{ url_for('diary.all') }}">Starry</a>
    </li>
    <li class="nav-item mx-3">
        <a class="nav-link" href="{{ url_for('main.mypage') }}">MyPage</a>
    </li>
    <li class="nav-item mx-3">
        <a class="nav-link" href="{{ url_for('diary.write') }}">Diary</a>
    </li>
    <li class="nav-item mx-3">
        <a class="nav-link" href="{{ url_for('weekly.weekly') }}">Weekly</a>
    </li>
    <li class="nav-item mx-3">
        <a class="nav-link" href="{{ url_for('main.result') }}">Result</a>
    </li>
</ul>



        <div>

            {% if g.user %}
            <ul class="navbar-nav d-flex flex-row align-items-center">
                <li class="nav-item mx-3">
                    <span class="nav-link">환영합니다, {{ g.user.username }}!</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('account.logout') }}">로그아웃</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav d-flex flex-row align-items-center">
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{{ url_for('account.signup') }}">계정생성</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('account.login') }}">로그인</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>



<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</body>
</html>
